<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .text-truncate-2 {
            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
        }
        .radius-none{
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
        .box-style{
            border-radius: 20px;
            background: #ffffff;
            box-shadow:  20px 20px 40px #bebebe,
                -20px -20px 40px #ffffff;
        }
        .box-width{
            width: 49% !important;
        }
        .font-size{
            font-size: 10px !important;
        }
    </style>
</head>

<body style="background-color: rgb(242,243,245);">
    <div class="" style="background-color: #198754;">
    <div class="p-4 collapse col-6 mx-auto" id="ExternalContent1">
        <form class="form-signin" th:action="@{/save}">
            <div class="d-flex">
                <div class="mb-3 me-3">
                    <label for="Input1" class="form-label text-white">电影名</label>
                    <input type="text" class="form-control" required="" name="name" id="Input1" placeholder="">
                    </div>
                <div class="mb-3 me-3">
                    <label for="Input2" class="form-label text-white">热度</label>
                    <input type="number" class="form-control" name="hot" id="Input2" placeholder="">
                    </div>
                <div class="mb-3">
                    <label for="Input3" class="form-label text-white">图片地址</label>
                    <input type="text" class="form-control" name="img" id="Input3" placeholder="">
                    </div>
            </div>
            <div class="mb-3">
                <label for="Textarea1" class="form-label text-white">电影信息</label>
                <textarea class="form-control" id="Textarea1" name="info" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="Textarea2" class="form-labe2 text-white">电影简介</label>
                <textarea class="form-control" id="Textarea1" name="profile" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="Textarea3" class="form-labe3 text-white">播放网址</label>
                <textarea class="form-control" id="Textarea1" name="site" rows="1"></textarea>
            </div>
            <button class="btn btn-outline-success btn-block col-3 text-white border-white" type="submit">添加</button>
        </form>
        <iframe style="width: 0;height: 0;" src="" frameborder="0" name="iframeName"></iframe>
    </div>
</div>
<div class="container-fluid">
        <button class="btn btn-success radius-none border-top-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#ExternalContent1" aria-controls="ExternalContent1"
            aria-expanded="true" aria-label="Toggle navigation">
        添加电影
        </button>
        <span class="navbar-text" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}">
        </span>
</div>
<section class="px-5 pt-5 pb-3 mb-5 col-lg-8 container box-style">
    <div class="h4 pb-2 mb-4 text-success border-bottom border-success border-3">
        电影信息管理
    </div>
    <div class="d-flex flex-wrap justify-content-between">
        <div class="card mb-3 pe-2 col-6 border-success border-2 box-width" th:each="movie:${movies}">
            <div class="row">
                <div class="col-md-3">
                    <img class=" rounded-start"
                        th:src="@{https://img2.doubanio.com/view/photo/s_ratio_poster/public/{Img}.webp(Img=${movie.getImg})}"
                        alt="..." style="height: 170px;">
                </div>
                <div class="p-2 col-md-9 container">
                    <div class="px-3">
                        <h5 class="card-title" th:text="${movie.getName}"> Card title</h5>
                        <span class="text-truncate-2 font-size" th:text="${movie.getProfile}"></span>
                    </div>
                    <div class="pt-2 d-grid d-flex justify-content-md-end ">
                        <a class="col-3" th:href="@{/updatepanel/{id}(id=${movie.getId})}">
                            <button class="btn btn-sm btn-success text-nowrap me-2" type="button" >修改</button>
                        </a>
                        <a class="col-3" th:href="@{/delete/{name}(name=${movie.getName})}">
                            <button class="btn btn-sm btn-danger text-nowrap" type="button" onclick="return confirm('确认删除吗');">删除</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function del(){min
        confirm("确认删除？");
    }

</script>
</body>
</html>