<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .box-style{
        border-radius: 20px;
        background: #ffffff;
        box-shadow:  20px 20px 40px #bebebe,
             -20px -20px 40px #ffffff;
    }
    </style>
</head>

<body style="background-color: rgb(242,243,245);">
    <div>
        <div class="my-5 p-4 col-8 mx-auto box-style" id="ExternalContent1">
            <div class="h4 pb-2 mb-4 text-success border-bottom border-success border-3">
                <span th:text="'编辑 '+${m.getName}"></span>
            </div>
            <form class="form-signin" th:action="@{/update}">
                <div class="d-flex">
                    <div class="mb-3 me-3">
                        <label for="Input1" class="form-label text-success">电影名</label>
                        <input type="text" th:value="${m.getName}" class="form-control border-success" required="" name="name" id="Input1" placeholder="">
                        </div>
                    <div class="mb-3 me-3">
                        <label for="Input2" class="form-label text-success">热度</label>
                        <input type="number" th:value="${m.getHot}" class="form-control border-success" name="hot" id="Input2" placeholder="">
                        </div>
                    <div class="mb-3">
                        <label for="Input3" class="form-label text-success">图片地址</label>
                        <input type="text" th:value="${m.getImg}" class="form-control border-success" name="img" id="Input3" placeholder="">
                        </div>
                </div>
                <div class="mb-3">
                    <label for="Textarea1" class="form-label text-success">电影信息</label>
                    <textarea class="form-control border-success" th:utext="${m.getInfo}" id="Textarea1" name="info" rows="4"></textarea>
                </div>
                <div class="mb-3">
                    <label for="Textarea2" class="form-labe2 text-success">电影简介</label>
                    <textarea class="form-control border-success" th:text="${m.getProfile}" id="Textarea1" name="profile" rows="4"></textarea>
                </div>
                <div class="mb-3">
                    <label for="Textarea3" class="form-labe3 text-success">播放网址</label>
                    <textarea class="form-control border-success" th:text="${m.getSite}" id="Textarea1" name="site" rows="1"></textarea>
                </div>
                <button class="btn btn-outline-success btn-block col-3 " type="submit">保存</button>
            </form>
            <iframe style="width: 0;height: 0;" src="" frameborder="0" name="iframeName"></iframe>
        </div>
    </div>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>